<div class="container">
  <br />
  <div class="card border-danger">
    <div class="card-header">Credentials</div>
    <div class="card-body">

      <div class="form-group row p-2">
        <label class="col-md-2 col-form-label">User Name</label>
        <div class="col-md-10">
          <input class="form-control" type="text" />
        </div>
      </div>

      <div class="form-group row p-2">
        <label class="col-md-2 col-form-label">Password</label>
        <div class="col-md-10">
          <input class="form-control" type="password" />
        </div>
      </div>

    </div>
    <div class="card-footer"><button class="btn btn-outline-success">Submit</button></div>
  </div>
</div>
